@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}



header {
    background-color: #ffcf53;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #452a12;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}



.navigation a{
    color: #452a12;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 50px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;  
}
.rect {
box-sizing: border-box;
position: absolute;
width: 285px;
height: 205px;
left: 200px;
top: 200px;
background: #ffcf53;
/*
background: url(src/honey.jpg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
*/
border: 2px solid #452A12;
border-radius: 5px;
transform: scale(1.5);
}



.text {
  position: absolute;
  width: 300px;
  height: 129px;
  left: 10em;
  top: 180px;
  margin-left: 15em;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #452A12;
  transform: scale(1.5);

}

/* Group 2 */
.g2{
position: absolute;
width: 90px;
height: 40px;
left: 0px;
top: 0px;
}


/* Rectangle 2 */
.rect2{
box-sizing: border-box;
position: absolute;
width: 90px;
height: 40px;
right: 100px;
left: 700px;
top: 400px;
background: #FFCF53;
border: 2px solid #452A12;
border-radius: 10px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 35px;
text-align: center;
color: #452A12;
transform: scale(1.2);

}
















